In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

C:\Users\tmachine\AppData\Local\Temp\ipykernel_3220\3538350959.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
dataset = pd.read_csv("E:\T-Machine\python\Melbourne_housing_FULL.csv")
dataset.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [3]:
dataset.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [4]:
dataset.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [5]:
dataset.shape

(34857, 21)

In [6]:
cols_to_use = ['Suburb','Rooms','Type','Method','SellerG','Regionname','Propertycount','CouncilArea','Distance','Bathroom','Bedroom2','Landsize','Car','BuildingArea','Price']
dataset = dataset[cols_to_use]
dataset.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,CouncilArea,Distance,Bathroom,Bedroom2,Landsize,Car,BuildingArea,Price
0,Abbotsford,2,h,SS,Jellis,Northern Metropolitan,4019.0,Yarra City Council,2.5,1.0,2.0,126.0,1.0,NaN,NaN
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,Yarra City Council,2.5,1.0,2.0,202.0,1.0,NaN,1480000.0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,Yarra City Council,2.5,1.0,2.0,156.0,0.0,79.0,1035000.0
3,Abbotsford,3,u,VB,Rounds,Northern Metropolitan,4019.0,Yarra City Council,2.5,2.0,3.0,0.0,1.0,NaN,NaN
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,Yarra City Council,2.5,2.0,3.0,134.0,0.0,150.0,1465000.0

In [7]:
dataset.shape

(34857, 15)

In [8]:
dataset.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
CouncilArea          3
Distance             1
Bathroom          8226
Bedroom2          8217
Landsize         11810
Car               8728
BuildingArea     21115
Price             7610
dtype: int64

In [9]:
cols_to_fill_zero = ['Propertycount','Distance','Bathroom','Bedroom2','Car']
dataset[cols_to_fill_zero] = dataset[cols_to_fill_zero].fillna(0)
dataset.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        0
CouncilArea          3
Distance             0
Bathroom             0
Bedroom2             0
Landsize         11810
Car                  0
BuildingArea     21115
Price             7610
dtype: int64

In [10]:
dataset['Landsize'] = dataset['Landsize'].fillna(dataset.Landsize.mean())
dataset['BuildingArea'] = dataset['BuildingArea'].fillna(dataset.BuildingArea.mean())
dataset.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
Propertycount       0
CouncilArea         3
Distance            0
Bathroom            0
Bedroom2            0
Landsize            0
Car                 0
BuildingArea        0
Price            7610
dtype: int64

In [11]:
dataset.dropna(inplace=True)
dataset.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
CouncilArea      0
Distance         0
Bathroom         0
Bedroom2         0
Landsize         0
Car              0
BuildingArea     0
Price            0
dtype: int64

In [12]:
dataset.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,CouncilArea,Distance,Bathroom,Bedroom2,Landsize,Car,BuildingArea,Price
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,Yarra City Council,2.5,1.0,2.0,202.0,1.0,160.2564,1480000.0
2,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019.0,Yarra City Council,2.5,1.0,2.0,156.0,0.0,79.0000,1035000.0
4,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019.0,Yarra City Council,2.5,2.0,3.0,134.0,0.0,150.0000,1465000.0
5,Abbotsford,3,h,PI,Biggin,Northern Metropolitan,4019.0,Yarra City Council,2.5,2.0,3.0,94.0,1.0,160.2564,850000.0
6,Abbotsford,4,h,VB,Nelson,Northern Metropolitan,4019.0,Yarra City Council,2.5,1.0,3.0,120.0,2.0,142.0000,1600000.0

In [13]:
boolval=['Suburb','SellerG','Regionname','CouncilArea']
dataset[boolval] = dataset[boolval].astype(int)

ValueError: invalid literal for int() with base 10: 'Abbotsford'

In [15]:
dataset = pd.get_dummies(dataset,drop_first=True)
dataset.head()

,Rooms,Propertycount,Distance,Bathroom,Bedroom2,Landsize,Car,BuildingArea,Price,Suburb_Aberfeldie,...,CouncilArea_Moorabool Shire Council,CouncilArea_Moreland City Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
1,2,4019.0,2.5,1.0,2.0,202.0,1.0,160.2564,1480000.0,False,...,False,False,False,False,False,False,False,False,True,False
2,2,4019.0,2.5,1.0,2.0,156.0,0.0,79.0000,1035000.0,False,...,False,False,False,False,False,False,False,False,True,False
4,3,4019.0,2.5,2.0,3.0,134.0,0.0,150.0000,1465000.0,False,...,False,False,False,False,False,False,False,False,True,False
5,3,4019.0,2.5,2.0,3.0,94.0,1.0,160.2564,850000.0,False,...,False,False,False,False,False,False,False,False,True,False
6,4,4019.0,2.5,1.0,3.0,120.0,2.0,142.0000,1600000.0,False,...,False,False,False,False,False,False,False,False,True,False

In [16]:
dataset.columns

Index(['Rooms', 'Propertycount', 'Distance', 'Bathroom', 'Bedroom2',
       'Landsize', 'Car', 'BuildingArea', 'Price', 'Suburb_Aberfeldie',
       ...
       'CouncilArea_Moorabool Shire Council',
       'CouncilArea_Moreland City Council',
       'CouncilArea_Nillumbik Shire Council',
       'CouncilArea_Port Phillip City Council',
       'CouncilArea_Stonnington City Council',
       'CouncilArea_Whitehorse City Council',
       'CouncilArea_Whittlesea City Council',
       'CouncilArea_Wyndham City Council', 'CouncilArea_Yarra City Council',
       'CouncilArea_Yarra Ranges Shire Council'],
      dtype='object', length=745)

In [ ]:
dataset.to_string()